# Import Lib and import data

In [32]:
import pandas as pd
gurl = "https://docs.google.com/spreadsheets/d/1QyRJTNd1eIOxjQXzOkhHnAfEvmZGTIix45fF24ylfck/gviz/tq?tqx=out:csv&sheet=confession"
data = pd.read_csv(gurl)

In [33]:
data.head(20)

,Name,dept,year,confession
0,Parth Desai,Other,1.0,Parth tera name mene DesiParth rakha he Desai ...
1,Hai,Computer,2.0,Jjdj
2,Jignesh,Others,1.0,"Bhai jignesh, mere 750 rps wapis de de, kb tk ..."
3,All,Others,0.0,Corona ma Social destansin nu palan karo m*m
4,ALL,FALSE,0.0,"‡§Ö‡§ó‡§∞ ‡§¶‡§ø‡§≤ ‡§® ‡§Æ‡§ø‡§≤‡•á ‡§§‡•ã ‡§™‡•ç‡§Ø‡§æ‡§∞ ‡§Ö‡§ß‡•Ç‡§∞‡§æ ‡§π‡•ã‡§§‡§æ ‡§π‡•à,\r\n‡§ö‡§æ‡§Å‡§¶..."
5,Shivani,FALSE,0.0,"I am really shy to say you directly, but I LOV..."
6,To:- Rutvik Parmar,Pharm.D,2.0,Bhai kab tak akele akele cricket khelegaa hume...
7,Rutvik Parmar,Others,2.0,Bhai harroz akele akele cricket khelate ho kab...
8,naam nahi batana,FALSE,NaN,I love you pagalüòòüòò‚ù§Ô∏è‚ù§Ô∏è but as a Friendüòòüòòüòò
9,all the 2015-2019 batch,FALSE,NaN,I miss all the great time \r\nI miss PUSHPAM T...
10,Don't want to reveal,FALSE,1.0,You used me to the fullest didn't expect that ...
11,Hello,Civil,2.0,VVvgvgvgv
12,CE and IT,Others,1.0,Ye First year CE and IT wale kitne Chalu hain ...
13,Kate Marsh,Computer,NaN,"I really Like Like Your Personality, Let's mee..."
14,Vivek,MCA,1.0,Fuck you
15,admin,AI&DC,1.0,its not ai&dc its ai&ds
16,admin,AI&DC,1.0,its not ai&dc its ai&ds
17,Kavita,AI&DC,1.0,I think vivek patel likes you
18,vivek,AI&DC,1.0,I think kavita likes you
19,Anyone who creates this situation,Not want to mention,0.0,"Whoever reads this, first of all have a good d..."

# Let's remove duplicate value

In [34]:
data.drop_duplicates(subset ="confession",
                     keep = "last", inplace = True)

# Data Wranglling

In [35]:
data["year"].fillna("9", inplace = True)
data['year'] = data['year'].astype(int)
data['dept'] = data['dept'].replace(['FALSE'],['Not want to mention'])

In [36]:
data.tail()

           Name                 dept  year  confession
118      dcdcdc  Not want to mention     1  dcdcdcdcdc
120       xcscs             Computer     1       sscsc
121         dfd  Not want to mention     0     jkdjkdc
122      dcdcdc             Computer     1     dcdcdcd
123  i love you             Computer     1  jkdnvjknfv

In [18]:
data

,Name,dept,year,confession
0,Parth Desai,Other,1,Parth tera name mene DesiParth rakha he Desai ...
1,Hai,Computer,2,Jjdj
2,Jignesh,Others,1,"Bhai jignesh, mere 750 rps wapis de de, kb tk ..."
3,All,Others,0,Corona ma Social destansin nu palan karo m*m
4,ALL,Not want to mention,0,"‡§Ö‡§ó‡§∞ ‡§¶‡§ø‡§≤ ‡§® ‡§Æ‡§ø‡§≤‡•á ‡§§‡•ã ‡§™‡•ç‡§Ø‡§æ‡§∞ ‡§Ö‡§ß‡•Ç‡§∞‡§æ ‡§π‡•ã‡§§‡§æ ‡§π‡•à,\r\n‡§ö‡§æ‡§Å‡§¶..."
...,...,...,...,...
114,Parth malvi,Diploma CE/IT,2,Har ladki pe isko crush he. Ma**arc**d manas he.
116,Dhruvi,B.P.T,2,Dhruvi tum itni pyari kyu ho ?
117,dcedcdc,Computer,0,dcdcdcdcdcdc
118,dcdcdc,Not want to mention,1,dcdcdcdcdc
120,xcscs,Computer,1,sscsc

In [19]:
data.tail(10)

,Name,dept,year,confession
107,v,B.I.D,0,mbv ifk
108,Some guy,IT,1,Dusro ki car ko kab tak khudki hai khudki hai ...
110,Sudhir Panchani,Electrical,9,college me tha toh koi bhi girls ke sath ghum...
111,Name starting with ‚ÄúM‚Äù,Biotechnology,9,Block kr ke kya mila??\r\nFriend friend bol ke...
112,Name starting with ‚ÄúM‚Äù,Biotechnology,9,Dear boys \r\nAa department ma ek girl chhe je...
114,Parth malvi,Diploma CE/IT,2,Har ladki pe isko crush he. Ma**arc**d manas he.
116,Dhruvi,B.P.T,2,Dhruvi tum itni pyari kyu ho ?
117,dcedcdc,Computer,0,dcdcdcdcdcdc
118,dcdcdc,Not want to mention,1,dcdcdcdcdc
120,xcscs,Computer,1,sscsc

In [20]:
data.loc[[90]]

,Name,dept,year,confession
90,Saumydeep Bhosh,IT,2,Firstly stop thinking yourself a influencer!! ...

In [21]:
data

,Name,dept,year,confession
0,Parth Desai,Other,1,Parth tera name mene DesiParth rakha he Desai ...
1,Hai,Computer,2,Jjdj
2,Jignesh,Others,1,"Bhai jignesh, mere 750 rps wapis de de, kb tk ..."
3,All,Others,0,Corona ma Social destansin nu palan karo m*m
4,ALL,Not want to mention,0,"‡§Ö‡§ó‡§∞ ‡§¶‡§ø‡§≤ ‡§® ‡§Æ‡§ø‡§≤‡•á ‡§§‡•ã ‡§™‡•ç‡§Ø‡§æ‡§∞ ‡§Ö‡§ß‡•Ç‡§∞‡§æ ‡§π‡•ã‡§§‡§æ ‡§π‡•à,\r\n‡§ö‡§æ‡§Å‡§¶..."
...,...,...,...,...
114,Parth malvi,Diploma CE/IT,2,Har ladki pe isko crush he. Ma**arc**d manas he.
116,Dhruvi,B.P.T,2,Dhruvi tum itni pyari kyu ho ?
117,dcedcdc,Computer,0,dcdcdcdcdcdc
118,dcdcdc,Not want to mention,1,dcdcdcdcdc
120,xcscs,Computer,1,sscsc

In [22]:
personNum = int(input("Enter a number"))
namec = data["Name"][personNum]
deptc = data["dept"][personNum]
yearc = data["year"][personNum]
if(data["year"][personNum]==9):
    yearc = "Not want to mention"
confessionc = data["confession"][personNum]

KeyboardInterrupt: Interrupted by user

In [11]:
namec

NameError: name 'namec' is not defined

In [71]:
deptc

'IT'

In [72]:
yearc

2

In [73]:
confessionc

'Firstly stop thinking yourself a influencer!! \r\nHave you ever seen your face in mirror!? \r\nIf yes then you should leave this all things \r\nOk bye....'

In [74]:
str = """        
<div class=\"row\">

    <div class=\"col s12 m6 l6\">

        <div class=\"card blue\">

            <div class=\"card-content white-text\">

                <span class=\"card-title\">To: {} </span>
                    <span>Department: {}</span><br>
                        <span>Year: {}</span>
                            <p>Confession:{}</p>
            </div>
        </div>
    </div>

""";

In [75]:
str = str.format(namec,deptc,yearc,confessionc)

In [76]:
str

'        \n<div class="row">\n\n    <div class="col s12 m6 l6">\n\n        <div class="card blue">\n\n            <div class="card-content white-text">\n\n                <span class="card-title">To: Saumydeep Bhosh </span>\n                    <span>Department: IT</span><br>\n                        <span>Year: 2</span>\n                            <p>Confession:Firstly stop thinking yourself a influencer!! \r\nHave you ever seen your face in mirror!? \r\nIf yes then you should leave this all things \r\nOk bye....</p>\n            </div>\n        </div>\n    </div>\n\n'

<h1>Don't run below cells blindly </h1>
    <h2>Please <a href="view.html">Click Here</a></h2>
    <p>Notice here! CSS WIll Not work on local host</p>

In [78]:
f = open("view.html", mode="r", encoding="utf-8")
contents = f.readlines()
f.close()
#this code will append html code on line no 65
contents.insert(65, str)

f = open("view.html", mode="w", encoding="utf-8")
contents = "".join(contents)
f.write(contents)
f.close()